<div class="container">
  <h2>Create person</h2>
  <form [formGroup]="peopleForm" (ngSubmit)="onFormSubmit(peopleForm.value)">

 
    <!-- FIRST NAME -->
    <div class="form-group">
      <label for="first_name">First name</label>
      <input type="text" class="form-control" placeholder="Enter name" formControlName="first_name"
        [class.is-invalid]="firstName.invalid && firstName.touched"
        [class.is-valid]="firstName.valid && firstName.touched">
      <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">Name is required</small>
    </div>

    <!-- LAST NAME -->
    <div class="form-group">
      <label for="last_name">Last name</label>
      <input type="text" class="form-control" placeholder="Enter last name" formControlName="last_name"
        [class.is-invalid]="lastName.invalid && lastName.touched" [class.is-valid]="lastName.valid && lastName.touched">
      <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">Last name is required</small>
    </div>

    <!-- EMAIL ADRESS -->
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" placeholder="Enter email" formControlName="email"
        [class.is-invalid]="email.invalid && email.touched" [class.is-valid]="email.valid && email.touched">
      <div *ngIf="email.errors && email.touched">
        <small class="text-danger" *ngIf="email.errors.required">Email is required</small>
        <small class="text-danger" *ngIf="email.errors.pattern">Need a valid email</small>
      </div>
    </div>

    <!-- GENDER -->
    <div class="form-group">
      <label for="gender">Gender</label>
      <input type="text" class="form-control" placeholder="Enter gender" formControlName="gender"
        [class.is-invalid]="gender.invalid && gender.touched" [class.is-valid]="gender.valid && gender.touched">
      <small class="text-danger" [class.d-none]="gender.valid || gender.untouched">Gender is required</small>
    </div>

    <!-- MARRIED -->
    <div class="form-check">
      <input type="checkbox" class="form-check-input" formControlName="married">
      <label class="form-check-label" for="married">Is he/she married?</label>
    </div>

    <!-- SUBMIT -->
    <div class="btn-container">
      <button type="submit" class="btn btn-primary" [disabled]="peopleForm.invalid">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-square" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.5 9.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
        </svg>
        Submit
      </button>
      <button type="reset" class="btn btn-primary" >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
          <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
        </svg>
        Reset
      </button>
      <a [routerLink]="['/table']" routerLinkActive="active">
        <button class="btn btn-primary">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
          </svg>
          Volver
        </button>
      </a>
    </div>
  </form>

</div>
