<div class="bg">
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card mt-3">

        <!-- HEADER -->
        <div class="card-header">
          <h1 class="title">Welcome to Angular CRUD APP</h1>
        </div>

        <!-- BODY -->
        <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <!-- EMAIL NAME -->
            <div class="form-group">
              <label for="id" class="text-warning">Email</label>
              <input #emailRef type="text" class="form-control email-input" placeholder="Enter name" formControlName="id"
                [class.is-invalid]="id.invalid && id.touched"
                [class.is-valid]="id.valid && id.touched">
              <small class="text-danger" [class.d-none]="id.valid || id.untouched">Email is
                required</small>
            </div>

            <!-- PASSWORD NAME -->
            <div class="form-group">
              <label for="last_name" class="text-warning">
                Password</label>
                <div class="input-password-container">
                  <input [type]="fieldTextType ? 'password' : 'text'" class="form-control passwordInput" placeholder="Enter password" formControlName="password"
                  [class.is-invalid]="password.invalid && password.touched"
                  [class.is-valid]="password.valid && password.touched">
                  <button class="eye" type="button" (click)="showHide()">
                    <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                      <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                      <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                    </svg>
                  </button>
                </div>
              
                
              <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is
                required</small>
            </div>

            <!-- REMEMBER PASSWORD -->
            <div class="form-check">
              <input type="checkbox" class="form-check-input">
              <label class="form-check-label text-warning" for="remember">Remember me</label>
            </div>

            <!-- SUBMIT -->
            <div class="btn-container">
              <button type="submit" class="btn btn-warning" [disabled]="loginForm.invalid">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-unlock-fill" viewBox="0 0 16 16">
                  <path
                    d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2z" />
                </svg>
                Log in
              </button>
            </div>
          </form>
        </div>

        <!-- FOOTER -->
        <div class="card-footer">
          <div class="d-flex justify-content-center links text-light ">
            <span>Don't have an account?</span>
            <a [routerLink]="['/createAccount']" [routerLinkActive]="['active']"  class="text-dark link-singUp ">Sign Up</a>
          </div>
          <div class="d-flex justify-content-center ">
            <a class="text-dark">Forgot your password?</a>
          </div>
        </div>
      </div>
    </div>
  </div>

