<div class="bg">
    <div class="container">
      <div class="d-flex justify-content-center h-100">
        <div class="card mt-3">
  
          <!-- HEADER -->
          <div class="card-header">
            <h1 class="title">Please fill the neccesary info to create an account</h1>
          </div>
  
          <!-- BODY -->
          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  
              <!-- EMAIL NAME -->
              <div class="form-group">
                <label for="id" class="text-warning">Email</label>
                <input #emailRef type="text" class="form-control" placeholder="Enter name" formControlName="id"
                  [class.is-invalid]="id.invalid && id.touched"
                  [class.is-valid]="id.valid && id.touched">
                <small class="text-danger" [class.d-none]="id.valid || id.untouched">Email is
                  required</small>
              </div>
  
              <!-- PASSWORD NAME -->
              <div class="form-group">
                <label for="last_name" class="text-warning">
                  Password</label>
                <input type="password" class="form-control" placeholder="Enter password" formControlName="password"
                  [class.is-invalid]="password.invalid && password.touched"
                  [class.is-valid]="password.valid && password.touched">
                <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is
                  required</small>
              </div>
  
              <!-- REMEMBER PASSWORD -->
              <div class="form-check">
                <input type="checkbox" class="form-check-input">
                <label class="form-check-label text-warning" for="remember">Remember me</label>
              </div>
  
              <!-- SUBMIT -->
              <div class="btn-container submit-container">
                <button type="submit" class="btn btn-warning" [disabled]="loginForm.invalid">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-unlock-fill" viewBox="0 0 16 16">
                    <path
                      d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2z" />
                  </svg>
                  Log in
                </button>
                <a [routerLink]="['/login']" routerLinkActive="active">
                  <button class="btn btn-warning">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                    </svg>
                    Volver
                  </button>
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
