.title {
    font-size: 24px;
    color: #DAF7F6;
    font-weight: bold;
}

input {
    color: black;
}

input:valid {
    color: black;
}
.card {
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(101, 156, 228, 0.5);
}

.link-singUp {
    margin-left: 10px;
}

.bg {
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Numans', sans-serif;
}

.submit-container {
    display: flex;
    justify-content: space-between;
}