form {
    margin-top: 30px;
    width: 500px;
    border: 5px black solid;
    padding: 20px;
    border-radius: 5%;
  }
  
  button {
      margin-top: 10px;
  }
  
  .btn-container {
    display: flex;
    justify-content: space-between;
  }
  
  label {
    font-weight: bold;
  }