<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand" [routerLink]="['/table']" routerLinkActive="active">Table</a>
      <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active">Home</a>
    </div>
    <button class="btn btn-secondary" (click)="logOut()">Log out</button>
  </div>
</nav>
