.insert-btn {
  margin-top: 15px;
  margin-right: 10px;
  font-weight: bold;
}

.clear-btn {
  position: relative;
  left: -33px;
  top: 7px;
}

.actions-btn {
  margin-right: 10px;
}

table {
  thead tr:nth-child(1) th {
    background: #007bff;
    color: white;
    position: sticky;
    top: 0;
    z-index: 10;
  }
}

tr:hover {
  background-color: rgb(188, 224, 240);
}

table {
  position: sticky;
  top: 0;
  z-index: 10;
}
